:root {
    /* CSS HEX */
    --licorice: #1f1516ff;
    --jet: #332e31ff;
    --blueshift-darknavy: #050052ff;
    --blueshift-navy: #070068ff;
    --posideon: #0b3b5cff;
    --casting-sea: #4689C8ff;
    --casting-sea-hover: #52a3eeff;
    --redshift-magenta: #E50869ff;
    --redshift-magenta-hover: #ff2786ff;
    --redshift-magenta-visited: #c3095aff;
    --reductant: #eb5c5dff;
    --felt-green: #74c095ff;
    --sheepskin: #d9b38eff;
    }

    h1 h2 h3 h4 h5 h6 {
        color: var(--jet);
    }

    .wy-nav-side .toctree-l1 a:hover, .wy-nav-side .toctree-l2 a:hover {
        background: var(--blueshift-darknavy);
    }

    .pre {
        color: var(--reductant);
    }

    .wy-side-nav-search, .wy-nav-top {
         background: var(--blueshift-darknavy);
    }

    .sig .pre {
        color: var(--licorice);
    }

    .wy-nav-side {
        background: var(--blueshift-navy);
    }

    .wy-menu-vertical p.caption {
        color: var(--redshift-magenta);
    }

    .wy-breadcrumbs a {
        color: var(--redshift-magenta);
    }

    .wy-breadcrumbs a:visited {
        color: var(--redshift-magenta-visited);
    }

    .wy-breadcrumbs a:hover {
        color: var(--redshift-magenta);
    }

    .document a {
        color: var(--casting-sea);
    }

    .document a:visited {
        color: var(--posideon);
    }

    .document a:hover {
        color: var(--casting-sea-hover);
    }

    footer a { color: var(--casting-sea);}

    footer a:visited {color: var(--posideon);}

    footer a:hover { color: var(--casting-sea-hover);}

    footer p { color: var(--jet);}